* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chart-container {
    position: relative;
    height: 100vh;
}



.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    background-color: white;
    height: fit-content;
    width: 100vw;

    padding: 1rem;
    gap: 2rem;
    flex-direction: column-reverse;


}

h1 {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 1rem;

}

.element {

    background-color: #21272d;

    padding: 1rem;
    border-radius: 40px;
    overflow: hidden;

    width: fit-content;
    width: 100%;
    height: fit-content;


    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.48);

}

.chart {
    width: 100%;
    height: 100vh;
}