@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Rubik+Maps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    transition: all 0.3s ease-in-out;
    list-style: none;

}

:root {
    --color-primary: #1B1725;
    --color-secondary: #2A2D43;
    --color-secondary-alpha: rgba(41, 44, 66, 0.707);
    --color-text: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);

}

.nav {
    height: calc(100vh - 2rem);
    width: 70px;
    background-color: var(--color-primary);
    margin: 1rem 0 1rem 1rem;
    border-radius: 40px;
    display: flex;
    padding-top: 10rem;
    align-items: flex-start;
    justify-content: center;
    position: relative;

}

select {
    width: 100%;
    height: 2rem;
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-bottom: 1px solid var(--color-text);
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;

}

.navTitleBox {
    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(-90deg);
}

.theme {
    position: absolute;
    bottom: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.iconBox {
    list-style: none;
    transition: all 0.3s ease;
    position: relative;
}

.icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: absolute;
}

.icon.hidden {
    transform: translateX(-100%);
}

.searchBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 6rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
}

.search {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    transition: all 0.3s ease;
}

.search.active {
    transform: rotate(90deg);
}

.search.invert {
    filter: invert(1);
}

.navTitle {
    font-family: 'Rubik Maps', sans-serif;
    color: var(--color-text);
    text-transform: uppercase;
    width: 300px;
    text-align: center;
}


.searchSection {
    position: absolute;
    transform-origin: left top;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 60vw;
    height: fit-content;
    backdrop-filter: blur(30px);
    border-radius: 25px;

    background-color: var(--color-secondary-alpha);
    z-index: 800;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    padding: 2rem;

    box-shadow: 0 0 40px 40px var(--color-primary);


}


.searchSection.hidden {
    scale: 0;

}

.searchResult {

    color: var(--color-text);
    width: 100%;
    padding: .8rem;
    border-radius: 10px;
    border-bottom: 1px solid var(--color-primary);
    cursor: default;
}

.noResult {
    border-bottom: none;
    text-align: center;
}


#resultsList {
    width: 100%;
    height: 100%;
    max-height: 35vh;
    overflow: scroll;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .8rem;
    border-radius: 10px;
    margin-top: 1rem;

}


#searchInput {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    color: var(--color-text);
    border: none;
    border-bottom: 1px solid var(--color-text);
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5rem;

}



.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    height: calc(100vh - 2rem);
    width: 100vw;

    gap: 1rem;
    overflow: scroll;
    border-radius: 40px;
    margin: 1rem;


}

h1 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 1rem;
    text-align: center;

}


.element {

    background-color: var(--color-primary);

    padding: 2rem;
    border-radius: 40px;
    overflow: hidden;

    width: fit-content;
    width: 100%;
    height: calc(100vh - 2rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.1);


}

.chart {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;

}

.loader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    transition: all 0.8s ease-in-out;
}

.loader.hidden {
    transform: translateY(-100%);
}